TestWCF/Service References/WSSRManageWebAccount/ManageWebAccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://services.compassionuk.org/ManageWebAccount" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services.compassionuk.org/ManageWebAccount" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://services.compassionuk.org/ManageWebAccount/Imports">
      <xsd:import schemaLocation="http://localhost:50546/ManageWebAccountService.svc?xsd=xsd0" namespace="http://services.compassionuk.org/ManageWebAccount" />
      <xsd:import schemaLocation="http://localhost:50546/ManageWebAccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManageWebAccountService_UpdateAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAddress" />
  </wsdl:message>
  <wsdl:message name="IManageWebAccountService_RequestStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestStatus" />
  </wsdl:message>
  <wsdl:message name="SupporterProfileDetails">
    <wsdl:part name="parameters" element="tns:SupporterProfileDetailsObject" />
  </wsdl:message>
  <wsdl:message name="SupporterProfileDetailsReponse">
    <wsdl:part name="parameters" element="tns:SupporterProfileDetailsResponseObject" />
  </wsdl:message>
  <wsdl:portType name="IManageWebAccountService">
    <wsdl:operation name="UpdateAddress">
      <wsdl:input wsaw:Action="http://services.compassionuk.org/ManageWebAccount/IManageWebAccountService/UpdateAddress" message="tns:IManageWebAccountService_UpdateAddress_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestStatus">
      <wsdl:input wsaw:Action="http://services.compassionuk.org/ManageWebAccount/IManageWebAccountService/RequestStatus" message="tns:IManageWebAccountService_RequestStatus_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSupporterProfileDetails">
      <wsdl:input wsaw:Action="http://services.compassionuk.org/ManageWebAccount/IManageWebAccountService/UpdateSupporterProfileDetails" name="SupporterProfileDetails" message="tns:SupporterProfileDetails" />
      <wsdl:output wsaw:Action="http://services.compassionuk.org/ManageWebAccount/IManageWebAccountService/UpdateSupporterProfileDetailsResponse" name="SupporterProfileDetailsReponse" message="tns:SupporterProfileDetailsReponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>